.container {
  display: grid;
  grid-template-areas:
    "main main main main main main main css"
    "main main main main main main main css"
    "settings settings settings settings settings settings settings css"
    "settings settings settings settings settings settings settings css";
}

.main {
  grid-area: main;
  align-items: center;
  display: flex;
  justify-content: center;
}

.settings {
  grid-area: settings;
  background-color: #d9d9d9;
}

.css {
  grid-area: css;
}
